
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
div{
    padding: 5px;
    text-align: center;
}
.p1{
    font-family: Raleway,sans-serif;
    color: #75c6e7;
}

.p2{
    font-family: ;
    color: white;
}
.p1,.p2{
    font-size: 2.4rem;
}